<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="display: flex; margin-bottom: 20px;">
        <div id="tab1" class="tab" style="padding: 10px 20px; background-color: rgb(224, 224, 224); cursor: pointer; border-radius: 5px 5px 0px 0px; margin-right: 5px;">概述</div>
        <div id="tab2" class="tab" style="padding: 10px 20px; background-color: rgb(241, 241, 241); cursor: pointer; border-radius: 5px 5px 0px 0px; margin-right: 5px;">过滤率</div>
<!--        <div id="tab3" class="tab" style="padding: 10px 20px; background-color: rgb(241, 241, 241); cursor: pointer; border-radius: 5px 5px 0px 0px;">缺陷类型</div>-->
    </div>
</body>
</html>